<%= form_for([@folder, @doc]) do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :title, "Document title" %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :attribution, "Author(s)" %><br>
      <%= f.text_field :attribution, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :keywords, "Keywords" %><br>
      <%= f.text_field :keywords, class: "form-control" %>
    </div>    

    <div class="form-group">
      <%= f.label :folder_id, "Parent folder" %><br>
      <%= f.select :folder_id, Folder.all.collect {|e| [e.full_path, e.id]}, class: "form-control" %>
    </div>

  <%= f.fields_for :sections do |g| %>


      <%= g.text_field :title %>

  </div>

  <% end %>
  
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %> 
  </div>
<% end %>

<script type="text/javascript">

  var section = new function() {
    self = this;
    
    this.edit = function(event) {
      var o = $(event.target).closest(".panel")
      o.children("[class^='panel-']").hide(0)
      o.children(".edit-view").show(100)
      event.preventDefault();
      false
    }
    
    this.destroy = function(event) {
      if (confirm('Are you sure you want to destroy this section?')) {
        var o = $(event.target).closest(".panel")
        o.children("[class^='panel-']").hide(0)
        o.children(".destroy-view").show(100)
        o.find("[id$='_destroy']").val("1")
      } else {
          // Do nothing!
      }
      event.preventDefault();
      false
    }

    
  }
  
  var doc = new function() {
    this.save = function(event) {
      
      var form = $('form[class$="_doc"]')
      form.submit();      
      // $.ajax({
      //   type: "POST",
      //   url: form.attr("action"),
      //   data: form.serialize(),
      //   success: function() {  document.notify("Saved");  },
      // });

      event.preventDefault();
    }
    
  }
  
  $(".bind-doc-save").click( doc.save )
  $(".bind-section-destroy").click( section.destroy )
  $(".bind-section-edit").click( section.edit )
  $(".bind-section-recover").click( section.recover )
</script>